<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <h2 class="bg-warning container text-center text-dark">Web API Example</h2>
  <div class="container">
  <div class="table-responsive">
   <div class="table">
     <thead class="bg-success"> 
       <tr>
         <th>Name</th>
         <th>Location</th>
   <!--      <th>Role</th> -->
         <th>Company</th>
         <th>Info</th>
         <th>Email</th>
         <th>Twitter</th>
       </tr>
     </thead>
     <tbody class="bg-info">
       <tr *ngFor = "let contact of data.contacts">
        <td>{{contact.name}}</td>
         <td>{{contact.location}}</td>
    <!--    <td>{{contact.role}}</td> -->
        <td>{{contact.company}}</td>
        <td>{{contact.info}}</td>
         <td>{{contact.email}}</td>
        <td>{{contact.twitter}}</td>
       </tr>
     </tbody>
   </div>
  </div>
  </div>
